
nav {
  border-bottom: 5px solid black;
}

.kane {
    display: inline-block;
}

.kane ol
{
    list-style-type: none;
    padding-left: 0 ;
    display: inline;
}
.kane ::after
{
    display: inline-block; text-align: center;
  color: white;
  content: normal;
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}
.aboutme 
{
  font-size: 0.8rem;
  letter-spacing: 1px;
  align-content: center;
  justify-content: center;
  outline-style: inset;
}
.aboutme
{ padding: 5px;
  max-width: 8%;
  line-height: 1.5;
  border-radius: 1px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #999999;
  display: block;
  margin-bottom:10%;
}

nav {
  background-color: #45a1ff;
  grid-area: nav;
  float: left;
}
aside {
  width: 20%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flexbox;
  color: #010911;
}
aside > p {
  margin: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: white;
  grid-area: initial;
}