
html{
    padding: 2px;
}
body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/*This is for Section 1 css.*/
.section1{

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
img
{
width: 130px;
height: 130px;
float: left;
}

.box
{
    border: 1px black solid;
    align-items: center;
    justify-content: left;
}
.box1
{
    display: flex;
    height: 200px;
    flex-grow: 1;
    width: 200px;
    gap: 30px;
}

#box1 p
{
    display: flex;
    align-items: center;
    text-align: left;
}
#box2
{
    display: flex;
    flex-grow: 2;
    height: 200px;
    width: 200px;
    text-align: left;
    align-items: left;
}
#box2 p
{
display: flex;
text-align: left;
box-sizing: border-box;
margin-left: -39px;
}

/*This is section 2 of css file.*/

.section2
{
    border: 2px black solid;
    
}
#item1
{
    font-size: large;
}
.section2
{
    font-size: large;
    background-color: rgb(18, 230, 18);
}

.section3
{
    background-color: black;
}

.bar {
    border-radius: 4%; text-align: center;
}
.bar1
{
    background-color: red;width: 60%;color: white; text-align: right;
}
.bar2
{
    background-color: red;width: 60%;color: white; text-align: right;
}
.bar3
{
    background-color: rgb(9, 119, 155);width: 60%;color: white; text-align: right;
}
.bar4
{
    background-color: green;width: 60%;color: white; text-align: right;
}
.bar5
{
    background-color: red;width: 60%;color: white; text-align: right;
}

/*This is the section 3 of the css file.*/

.level1
{
    display: inline-block;
    background-color: red;
    gap: 15px;
    height: 15px;width: 15px;
    align-items: center;
}
.level2
{
    display: inline-block;
    background-color: red;
    gap: 15px;
    height: 15px;width: 15px;
    align-items: center;
}
.level3
{
    display: inline-block;
    background-color: rgb(9, 119, 155);
    gap: 15px;
    height: 15px;width: 15px;
    align-items: center;
}
.level4
{
    display: inline-block;
    background-color: green;
    gap: 15px;
    height: 15px;width: 15px;
    align-items: center;
}
.level5
{
    display: inline-block;
    background-color: blue;
    gap: 15px;
    height: 15px;width: 15px;
    align-items: center;
}
/*this code is section 3 Languages.*/
.section3
{
    border: 2px;
}

    .circle1
    { 
        display: inline-block;
        width: 10px; 
        gap: 6px;
        height: 10px; 
        margin: 5px;
        background: green;
        border-radius: 50%;
        align-items: center;
        
    }
    .circle2
    { 
        display: inline-block; 
        width: 10px; 
        height: 10px; 
        margin: 5px;
        background: blue;
        border-radius: 50%;
        gap: 6px;
        align-items: center;
    }
    .circle3
    { 
        display: inline-flex;
        width: 10px; 
        height: 10px; 
        margin: 5px;
        background: red;
        border-radius: 50%;
        gap: 6px;
        align-items: center;
    }


