*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
padding: 10px;
border: 5px;
margin:20px;
border-radius: 10px;
width: 300px;
background: #fefafa;
}
img{
width: 30px;
}
nav
{
background: black;
padding: 1rem;
}
nav ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-around;
}
nav ul li {
display: inline;
}
nav ul li a {
color: white;
text-decoration: none;
padding: 0.2rem;
display: block;

}
nav ul li a:hover {
background-color: aqua;
}

#boxes {
justify-content: space-around;
    
}

.box2
{
display: flex;
align-items: center;
text-align: left;
background:  aqua;
text-decoration: none;
}
.box2 p
{
text-align: left;
margin: 0;
padding: 0;
}
.box3
{
display: flex;
align-items: left;
text-align: left;
background:  aqua;
text-decoration: none;
}
.box3 p
{
text-align: left;
margin: 0;
padding: 0;
}
.box
{
display: flex;
align-items: left;
text-align: left;
background:  aqua;
text-decoration: none;
}

.login {
border: 0;
line-height: 2.5;
padding: 0 20px;
border-radius: 10px;
background: aqua;
}
.box5 ,h4
{
background:  aqua;
}
.box6
{
background:  aqua;
}